<div class="ms-TextField {disabled?'is-disabled':''} {className}">
    <label for={id} class="ms-Label"><slot /></label>
    <input id={id} class="ms-TextField-field" type="text" bind:value="value" placeholder={placeholder}>
</div>

<style lang="sass">
  @import "node_modules/office-ui-fabric-core/src/sass/_Fabric.Common";
  @import "node_modules/office-ui-fabric-js/dist/components/Textfield/Textfield";
</style>

<script>
  import { generateGUID } from '../tools';

  export default {
    data() {
      return {
        id: generateGUID(),
        className: '',
        disabled: false,
        placeholder: '',
        value: ''
      };
    }
  };
</script>